/* UNIVERSAL */

html,
body {
    font-family: "Libre Baskerville", sans-serif;
    margin: 0;
    padding: 0;
}

img {
    width: auto;
    height: auto;
    margin: 10px auto;
}

/* TYPOGRAPHY */

h1 {
    font-size: 20px;
}

ul {
    text-align: right;
}

/* SIZING */

.container {
    margin: 0 auto;
}

/* HEADER */

.header {
    margin-right: 50px;
    margin-left: 50px;
    padding: 30px 0 40px;
}

.header li {
    list-style: none;
    display: inline-block;
}

.header li a {
    color: #333;
    border: 0px;
    margin: 0;
}

/* JUMBOTRON */

.jumbotron {
    max-width: 1200px;
    background-color: #fff;
    margin-left: 50px;
}

.jumbotron h2 {
    font-size: 50px;
    margin-bottom: 70px;
}

.jumbotron h2 span {
    color: #ffc200;
}

/* BANNER */

.banner {
    color: #fff;
    background-color: #333;
    text-align: center;
    padding: 20px;
}

/* EXPERTISE */

#expertise {
    background-color: #ffc200;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.main {
    background-color: #ffc200;
}

.spacer {
    max-width: 1200px;
    margin: auto;
}

.cards {
    background-color: #ffc200;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

/* FOOTER */

